PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/parkingslot
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=15m
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRE=7d
CLIENT_URL=http://localhost:5173
CAR_MONTHLY_FEE=2000000
MOTORBIKE_MONTHLY_FEE=250000